{% extends '::base.html.twig' %}

{% block body %}

<div class="container">

    {% include "InnovaLearningPathBundle::Step/left-sidebar.html.twig" %}
    {% include "InnovaLearningPathBundle::Step/right-sidebar.html.twig" %}

    <select name="view-choice">
        <option selected value="Vue concepteur">Vue concepteur</option>
        <option value="Vue enseignant">Vue enseignant</option>
        <option value="Vue tuteur">Vue tuteur</option>
        <option value="Vue Apprenant">Vue Apprenant</option>
    </select>
    <div class="row">
        <div class="span4">
            <div class="row">
                <div class="span1" id="title_test_bob">
                    <h3>Parcours</h3>
                </div>
                <div id="header_test_bob" class="span1">
                    <form action="index_submit" method="post" accept-charset="utf-8" id="form_test_bob">
                        <div class="input-append">
                            <input type="text" name="" value="" placeholder="Espagnol B2" class="typeahead">
                            <button type="submit" class="btn"><i class="icon-share-alt"></i></button>
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="well">
                {{ htmlTree|raw }}
            </div>
            <button id="save" class="btn pull-right">Save</button>
        </div>
        <div class="span4">
            <h3>Ressources types</h3>
            <h4 class="accordionButton on ressourceTitle well otherss"><i class="icon-chevron-up pull-right"></i>Qui </h4>
            <div class="accordionContent">
                <div class="well otherss">
                    <ul class="tree_abstract">
                        <li><i class="icon-user"></i>Professeur</li>
                    </ul>
                    <a href="#" title="" class="btn pull-right"><i class="icon-plus"></i>Ajouter</a>
                </div>     
            </div>

            <h4 class="accordionButton on ressourceTitle well otherss"><i class="icon-chevron-up pull-right"></i>Pour qui</h4>
            <div class="accordionContent">
                <div class="well otherss">
                    <ul class="tree_abstract">
                        <li><i class="icon-user"></i>Classe</li>
                        <li><i class="icon-user"></i>Eleve</li>
                        <li><i class="icon-user"></i>Binome</li>
                    </ul>  
                    <a href="#" title="" class="btn pull-right"><i class="icon-plus"></i>Ajouter</a>
                </div> 
            </div>

            <h4 class="accordionButton on ressourceTitle well otherss"><i class="icon-chevron-up pull-right"></i>Lieux</h4>
            <div class="accordionContent">
                <div class="well otherss">
                    <ul class="tree_abstract">
                        <li><i class="icon-home"></i>Labo</li>
                        <li><i class="icon-home"></i>Classe</li>
                        <li><i class="icon-home"></i>Dehors</li>
                    </ul>
                    <a href="#" title="" class="btn pull-right"><i class="icon-plus"></i>Ajouter</li></a>
                </div>
            </div>

            <h4 class="accordionButton on ressourceTitle well otherss"><i class="icon-chevron-up pull-right"></i>Outils</h4>
            <div class="accordionContent">
                <div class="well otherss">
                    <ul class="tree_abstract">
                        <li><i class="icon-wrench"></i>Video projecteur</li>
                        <li><i class="icon-wrench"></i>Couteau</li>
                    </ul>
                    <a href="#" title="" class="btn pull-right"><i class="icon-plus"></i>Ajouter</li></a>
                </div>
            </div>

            <h4 class="accordionButton on ressourceTitle well otherss"><i class="icon-chevron-up pull-right"></i>Ressources fournies</h4>
            <div class="accordionContent">
                <div class="well otherss">
                    <ul class="tree_abstract">
                        <li><i class="icon-envelope"></i>Journal</li>
                        <li><i class="icon-envelope"></i>Plan</li>
                    </ul>
                    <a href="#" title="" class="btn pull-right"><i class="icon-plus"></i>Ajouter</li></a>
                </div>
            </div>

            <h4 class="accordionButton on ressourceTitle well otherss"><i class="icon-chevron-up pull-right"></i>Ressources produites</h4>
            <div class="accordionContent">
                <div class="well otherss">
                    <ul class="tree_abstract">
                        <li><i class="icon-film"></i>Synthèse</li>
                        <li><i class="icon-film"></i>Rapport</li>
                    </ul>
                    <a href="#" title="" class="btn pull-right"><i class="icon-plus"></i>Ajouter</li></a>
                </div>
             </div>
        </div>

        <div class="span4">
            <h3>Ressources réelles</h3>
            <div class="well otherss">
                <ul class="concrete">
                    <li>
                        <i class="icon-folder-open"></i>Dossier Pierre
                        <ul class="concrete">
                            <li><i class="icon-file"></i>fichier1</li>
                            <li><i class="icon-file"></i>fichier2</li>
                            <li><i class="icon-file"></i>fichier3</li>
                        </ul>
                    </li>
                    <li>
                        <i class="icon-folder-open"></i>Dossier Jean-Louis
                        <ul class="concrete">
                            <li><i class="icon-file"></i>fichier1</li>
                            <li><i class="icon-file"></i>fichier2</li>
                            <li><i class="icon-file"></i>fichier3</li>
                            <li><i class="icon-file"></i>fichier4</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('bundles/innovalearningpath/js/accordeon.js') }}"></script>
{% endblock %}
{% endblock %}
