<div id="menu-droite" ouvert="pasok">
    <div id="contenu-menu-droit">
        <div id="claroline_tete_volet_droite">
            <h5>Bibliotheque et entrepots</h5>
        </div>
        <div id="accordion2">
            <h3>Modele</h3>
            <div class="scroll">
           
            {% if patternTrees is defined %}
                {% for patternTree in patternTrees %}
                    <li node_id = "">
                        <span class='descr'>{{ patternTree.name }}</span>
                        <ul class="">
                            {% include "InnovaLearningPathBundle:Step:includes/list-item-pattern.html.twig" with {'steps': patternTree.children } only %}
                         </ul>
                    </li>
                {% endfor %}
            {% endif %}

            </div>
            <h3>Strategie</h3>
            <div class="scroll">
                <p>Decouverte entrainement test</p>
                <p>Demarche experimentale Annie</p>
                <p>Demarche experimentale Annie</p>
                <p>Generic learning game patern</p>
                <p>Jeu de role</p>
                <p>Decouverte entrainement test</p>
                <p>Demarche experimentale Annie</p>
                <p>Demarche experimentale Annie</p>
                <p>Generic learning game patern</p>
                <p>Jeu de role</p>
                <p>Decouverte entrainement test</p>
                <p>Demarche experimentale Annie</p>
                <p>Demarche experimentale Annie</p>
                <p>Generic learning game patern</p>
                <p>Jeu de role</p>
            </div>
            <h3>Espace d'interaction</h3>
            <div class="scroll">
                <p>Consultation collective synchrone</p>
                <p>Consultation individuelle asynchrone</p>
                <p>Consultation individuelle synchrone</p>
            </div>
        </div>
    </div>
    <div id="click-right">
        <i class="icon-chevron-right icon-white" id="chevron_right_rightvolet"></i>
        <i class="icon-chevron-left icon-white" id="chevron_left_rightvolet"></i>
    </div>
</div>
