{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
			
			<div class="row">
					<!-- Corps -->
					
			</div>
				<!-- Barre latérale gauche -->
				{% include 'ActivityBundle:Activity:voletgauche.html.twig'  %}
				<!-- Barre latérale Droite -->
				
		</div>
{% endblock %}