{% for step in steps %}
    <li class="new-item ui-draggable" node_id=""><i class="icon-trash delete-item cache"></i> <i class="icon-briefcase cache"></i> 
    	<span class='descr'>{{ step.name }}</span>
        {% if step.children %}
            <ul class="">
            	{% include "InnovaLearningPathBundle:Step:includes/list-item-pattern.html.twig" with {'steps': step.children} only %}
            </ul>
        {% endif %}
    </li>
{% endfor %}