{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <select name="view-choice">
            <option selected value="Vue concepteur">Vue concepteur</option>
            <option value="Vue enseignant">Vue enseignant</option>
            <option value="Vue tuteur">Vue tuteur</option>
            <option value="Vue Apprenant">Vue Apprenant</option>
        </select>
        <div class="row">
            <div class="span4">
                <h3>Parcours</h3>
                <form action="index_submit" method="post" accept-charset="utf-8">
                    <input type="text" name="" value="" placeholder="Espagnol B2">
                </form>
                <div class="well">

                </div>
            </div>
            <div class="span4">
                <h3>Ressources types</h3>
                <div class="well">

                </div>
            </div>
            <div class="span4">
                <h3>Ressources réelles</h3>
                <div class="well">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

