{% extends '::base.html.twig' %}

{% block body %}

<div class="container">
    
    {% include "InnovaAppBundle::WorkspaceManager/left-sidebar.html.twig" %}
    {% include "InnovaAppBundle::WorkspaceManager/right-sidebar.html.twig" %}
    ------------------
    <select name="view-choice">
        <option selected value="Vue concepteur">Vue concepteur</option>
        <option value="Vue enseignant">Vue enseignant</option>
        <option value="Vue tuteur">Vue tuteur</option>
        <option value="Vue Apprenant">Vue Apprenant</option>
    </select>
    <div class="row">
        <div class="span4">
            <div class="row">
                <div class="span1" id="title_test_bob">
                    <h3>Parcours</h3>
                    <button id="save">Save</button>
                </div>
                <div id="header_test_bob" class="span1">
                    <form action="index_submit" method="post" accept-charset="utf-8" id="form_test_bob">
                        <input type="text" name="" value="" placeholder="Espagnol B2">
                    </form>
                </div>
            </div>
            <div class="well">
                
                {{ htmlTree|raw }}
            </div>
        </div>
        <div class="span4">
            <h3>Ressources types</h3>
            <div class="well otherss">
                <ul class="tree_abstract">
                    <li>
                        <h5>Qui</h5>
                        <ul class="tree_abstract">
                            <li><i class="icon-user"></i>Professeur</li>
                        </ul>
                    </li>
                    <li>
                        <h5>Pour qui</h5>
                        <ul class="tree_abstract">
                            <li><i class="icon-user"></i>Classe</li>
                            <li><i class="icon-user"></i>Eleve</li>
                            <li><i class="icon-user"></i>Binome</li>
                        </ul>
                    </li>
                    <li>
                        <h5>Lieux</h5>
                        <ul class="tree_abstract">
                            <li><i class="icon-home"></i>Labo</li>
                            <li><i class="icon-home"></i>Classe</li>
                            <li><i class="icon-home"></i>Dehors</li>
                        </ul>
                    </li>
                    <li>
                        <h5>Outils</h5>
                        <ul class="tree_abstract">
                            <li><i class="icon-wrench"></i>Video projecteur</li>
                            <li><i class="icon-wrench"></i>Couteau</li>
                        </ul>
                    </li>
                    <li>
                        <h5>Ressources fournies</h5>
                        <ul class="tree_abstract">
                            <li><i class="icon-envelope"></i>Journal</li>
                            <li><i class="icon-envelope"></i>Plan</li>
                        </ul>
                    </li>
                    <li>
                        <h5>Ressources produites</h5>
                        <ul class="tree_abstract">
                            <li><i class="icon-film"></i>Synthèse</li>
                            <li><i class="icon-film"></i>Rapport</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span4">
            <h3>Ressources réelles</h3>
            <div class="well otherss">
                <ul class="concrete">
                    <li>
                        <i class="icon-folder-open"></i>Dossier Pierre
                        <ul class="concrete">
                            <li><i class="icon-file"></i>fichier1</li>
                            <li><i class="icon-file"></i>fichier2</li>
                            <li><i class="icon-file"></i>fichier3</li>
                        </ul>
                    </li>
                    <li>
                        <i class="icon-folder-open"></i>Dossier Jean-Louis
                        <ul class="concrete">
                            <li><i class="icon-file"></i>fichier1</li>
                            <li><i class="icon-file"></i>fichier2</li>
                            <li><i class="icon-file"></i>fichier3</li>
                            <li><i class="icon-file"></i>fichier4</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}

{% endblock %}
{% endblock %}
