{% extends 'InnovaActivityBundle:Activity:partials/modal.html.twig' %}

{% block idModal %}
    <div id="charteModal" class="modal hide fade">
{% endblock %}

{% block titleModal %}
    Charte
{% endblock %}

{% block contentModal %}
    <p>Vous pouvez télécharger la charte de ce cours en cliquant <a href="#">ici</a>.</p>
{% endblock %}
