	<!-- Fenêtres modales -->
	{% include 'InnovaActivityBundle:Activity:partials/modals.inc.html.twig' %}
	<!-- Chemins -->
	{% include 'InnovaActivityBundle:Activity:partials/volethaut.html.twig' %}
	<!-- Volet édition arborescence -->
	{% include 'InnovaActivityBundle:Activity:partials/voletedit.html.twig' %}
<!-- Corps -->
<div class=" corps ">
			
<!-- Espaces -->
	{% include 'InnovaActivityBundle:Activity:partials/parcourspass.html.twig' %}
	{% include 'InnovaActivityBundle:Activity:partials/etape2.html.twig' %}
	{% include 'InnovaActivityBundle:Activity:partials/week1.html.twig' %}
	{% include 'InnovaActivityBundle:Activity:partials/week2.html.twig' %}
	{% include 'InnovaActivityBundle:Activity:partials/week3.html.twig' %}
	{% include 'InnovaActivityBundle:Activity:partials/week4.html.twig' %}
	{% include 'InnovaActivityBundle:Activity:partials/week5.html.twig' %}
</div>