	<!-- Fenêtres modales -->
	{% include 'InnovaActivityBundle:Activity:partials/modals.inc.html.twig' %}
	<!-- Chemins -->
	{% include 'InnovaActivityBundle:Activity:partials/volethaut.html.twig' %}
	<!-- Volet édition arborescence -->
	
<!-- Corps -->
<div class=" corps ">
			
<!-- Titre espace -->
	
</div>