{% extends 'InnovaActivityBundle:Activity:partials/activitybase.html.twig' %}

{% block clicActSpace %}
    <div id="clicEtape2">
{% endblock %}

{% block titleActSpace %}
	Etape 2 – Things around you
{% endblock %}

{% block listAct %}

{% endblock %}

{% block tabAct %}
    <div class="tab-pane active tabDescr">
		<h3>Etape 2 – Things around you</h3>
		<img src="{{ asset('bundles/innovaactivity/img/util/parcourspass/etape2/entete.jpg') }}" class="imgCorps"/>
		<p>
			Cette étape 2 est divisée en 5 semaines :
        </p>
        <ul>
            <li>Week 1- Describing people</li>
            <li>Week 2- Describing places</li>
            <li>Week 3- Describing things</li>
            <li>Week 4- Let's Review!</li>
            <li>Week 5- Writing</li>
        </ul>
	</div>
{% endblock %}
