{% extends 'InnovaActivityBundle:Activity:partials/modal.html.twig' %}

{% block idModal %}
    <div id="forumUniteModal" class="modal hide fade">
{% endblock %}

{% block titleModal %}
    Forum de l'unité
{% endblock %}

{% block contentModal %}
    <p>On peut imaginer un accès direct au forum dans cette fenêtre modale, ou bien juste faire une redirection vers une page contenant le forum.</p>
{% endblock %}
