{% extends 'InnovaActivityBundle:Activity:partials/modal.html.twig' %}

{% block idModal %}
    <div id="liaisonModal" class="modal hide fade">
{% endblock %}

{% block titleModal %}
   	Livret de liaison
{% endblock %}

{% block contentModal %}
    <p>Fenêtre modale avec les fonctions du livret de liaison.</p>
{% endblock %}
