{% extends 'InnovaActivityBundle:Activity:partials/modal.html.twig' %}

{% block idModal %}
    <div id="mesOutilsModal" class="modal hide fade">
{% endblock %}

{% block titleModal %}
    Ajouter des outils
{% endblock %}

{% block contentModal %}
    <p>Fenêtre modale qui contiendra un formulaire d'ajout d'outils.</p>
{% endblock %}